*{
  margin: 0;
  padding: 0;
}
.container-app{
  min-height: auto;
}
.row-header{
  min-height: auto;
}
.row-white{
  min-height: auto;
}
.row-blue{
  min-height: auto;
}
.row-footer{
  min-height: auto;
 
}
.ippon p{
  cursor: pointer;
  font-size: 100px;
  font-weight: bold;
}
.wazari p{
  cursor: pointer;
  font-size: 100px;
  font-weight: bold;
}
.shido{
  cursor: pointer;
}
.shido-card{
  height: 80px;
  width: 25px;
}
input[type="number"]{
  width: 50px;
}
#osaekomi-number{
  font-size: 50px;
  font-weight: 700;
}
.timer-number{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
h4{
  margin-bottom: 0;
}
#golden-score{
  font-size:40px;
  cursor: pointer;
}

.timer-styles{
  font-size: 20px;
  margin-right: 10px;
}